#main {
  padding-top: 50px;
}

#title {
  margin-top: 0;
  margin-bottom: 0;
}

#subtitle {
  margin-top: 0;
}

#profile-img-container {
  width: 200px;
  margin: 0 auto;
}

#profile-img {
  border-radius: 50%;
}

nav li {
  list-style-type: none;
}

nav li a {
  font-family: 'Roboto Slab Regular';
  text-decoration: none;
  padding: 5px 60px;
}

nav ul {
  padding: 0;
}

nav {
  margin-top: 50px;
}

.nav-active {
  color: white;
  background-color: black;
  padding: 5px 20px;
}

#social-links a {
  text-decoration: none;
}

hr {
  margin-top: 50px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

footer {
  padding-bottom: 20px;
}

